@model IEnumerable<RemoteDesktopApplication.Servermanager>

@{
    ViewData["Title"] = "Home Page";
}

<style>

	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		line-height: 1em;
		color: #A7A1AE;
	}

	.con th h1 {
		font-weight: bold;
		font-size: 1em;
		text-align: left;
		color: #185875;
	}

	.con td {
		font-weight: normal;
		font-size: 1em;
		-webkit-box-shadow: 0 2px 2px -2px #0E1119;
		-moz-box-shadow: 0 2px 2px -2px #0E1119;
		box-shadow: 0 2px 2px -2px #0E1119;
	}

	.con {
		text-align: left;
		overflow: hidden;
		width: 98%;
		margin: 0 auto;
		display: table;
		padding: 0 0 8em 0;
	}

		.con td, .con th {
			padding-bottom: 1%;
			padding-top: 1%;
			padding-left: 2%;

		}

		/* Background-color of the odd rows */
		.con tr:nth-child(odd) {
			background-color: #323C50;
		}

		/* Background-color of the even rows */
		.con tr:nth-child(even) {
			background-color: #2C3446;
		}

		.con th {
			background-color: #1F2739;
		}

		.con td:first-child {
			color: #FB667A;
		}

		.con tr:hover {
			background-color: #464A52;
			-webkit-box-shadow: 0 6px 6px -6px #0E1119;
			-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
		}

		.con td:hover {
			background-color: #FFF842;
			color: #403E10;
			font-weight: bold;
			box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
			transform: translate3d(6px, -6px, 0);
			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}
</style>
<body>


	<div class="row mt-5">
		<div class="col-1"></div>
		<div class="col-3">
			<button class="btn btn-success" id="Create" data-toggle="modal" data-target="#modal-lg">Create</button>
		</div>
		<div class="col-4"></div>
		<div class="form-group col-3 ml-3">
			<input id="myInput" type="text" class="form-control" placeholder="Search..">
		</div>
		<div class="col-1"></div>
	</div>

		<table class="con">
			<thead>
				<tr>
					<th>Server Name</th>
					<th>Server Host</th>
					<th>Server Type</th>
					<th>IpAddress</th>
					<th>Action</th>
				</tr>
			</thead>
		<tbody id="myTable">
				@foreach (var items in Model)
				{
					<tr>
						<td>@items.ServerName</td>
						<td>@items.ServerHost</td>
						<td>@items.ServerType</td>
						<td>@items.ServerIpAddress</td>
					<td>
						<a href="@Url.Action("ConnectRdc", "Home",new{id = @items.Id})" target="_blank"
							class="btn btn-primary btn-sm">
							<i class="fas fa-wifi"></i>
					</a>


						<button type="button" class="btn btn-secondary btn-sm" onclick="ServerEdit('@items.Id')">
							<i class="fas fa-edit"></i>
						</button>

						<button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-info btn-sm" onclick="ServerDetail('@items.Id')">
							<i class="fas fa-info"></i>
						</button>



						<button type="button" class="btn btn-danger btn-sm" onclick="Delete('@items.Id')">
							<i class="fas fa-trash-alt"></i>
						</button>
						</td>
					</tr>
				}
			</tbody>
		</table>




	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Server Detail</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row" id="details">
						<div class="col-4">
							<label>ServerName</label>
							<p id="serverNamedetail"></p>
						</div>
						<div class="col-4">
							<label>ServerType</label>
							<p id="serverTypedetail"></p>


						</div>
						<div class="col-4">
							<label>ServerHost</label>
							<p id="serverHostdetail"></p>

						</div>
						<div class="col-4">
							<label>ServerIpAddress</label>
							<p id="serverIpAddressdetail"></p>
						</div>
						<div class="col-4">
							<label>ServerUsername</label>
							<p id="serverUsernamedetail"></p>


						</div>
						<div class="col-4">
							<label>ServerPassword</label>
							<p id="serverPassworddetail"></p>
						</div>

						<div class="col-4">
							<label>ServerDescription</label>
							<p id="serverDescriptiondetail"></p>
						</div>

						<div class="col-4">
							<label>IsAdServer</label>
							<p id="isAdServerdetail"></p>

						</div>

					</div>
				</div>

			</div>
		</div>
	</div>



	<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Server Create</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<form id="serverform">
					<div class="modal-body">
					<div class ="row">
							<input type="hidden" class="form-control" id="serverId">

							<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Server Name</label>
								<input type="text" class="form-control" id="serverName">
							</div>
						</div>
						<div class="col-4">
							<label for="exampleInputEmail1">Server Host</label>
							<select id="serverHost" class=" form-control select2 select2-hidden-accessible">
								<option value="LIVE">LIVE</option>
								<option value="UAT">UAT</option>
							</select>

						</div>

						<div class="col-4">
								<label for="exampleInputEmail1">Server Type</label>
							<select id="serverType" class=" form-control select2 select2-hidden-accessible">
								<option value="Both">Both</option>
									<option value="Database">Database</option>
									<option value="File">File</option>
								</select>

						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">IpAddress</label>
								<input type="text" class="form-control" id="serverIpAddress">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Username</label>
								<input type="text" class="form-control" id="serverUsername">
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Pasword</label>
								<input type="text" class="form-control" id="serverPassword">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Description</label>
								<textarea class="form-control" id="serverDescription"></textarea>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>IsAdserver</label>
								<input type="checkbox" class="form-control" id="isadserver" />
							</div>
						</div>



					</div>

				</div>

				</form>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="SaveServer" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<a href="@Url.Action("ConnectRdc", "Home")" target="_blank">Open RDC File</a>



</body>
@section scripts {

<script>



	$("#SaveServer").on("click",function()
		{

			var isChecked = $('#isadserver').prop('checked');
			if (isChecked) {
				isadserver = true;
			}
			else
			{
				isadserver = false;
			}
		let jsondata = {
				Id: $("#serverId").val(),
				ServerName: $("#serverName").val(),
				ServerType: $("#serverType").val(),
				ServerIpAddress: $("#serverIpAddress").val(),
				ServerUsername: $("#serverUsername").val(),
				ServerPassword: $("#serverPassword").val(),
				ServerDescription: $("#serverDescription").val(),
				IsAdServer: isadserver,
				ServerHost: $("#serverHost").val()
		};
		console.log(JSON.stringify(jsondata))
		$.ajax({
			method: "POST",
			url: '@Url.Action("AddServer","Home")',
			data: jsondata,
			success: function (result) {
				location.reload();
			}
		})
	})

	$("#Create").on("click",function(){
			$("#serverform").trigger("reset");
	})

	function ServerConnect(ipaddress)
	{
			$.ajax({
				method: "POST",
				url: '@Url.Action("ConnectRdc","Home")',
				data:{id: ipaddress},
				success: function (result) {
					
					
					
				}
			})
	}
	function ServerDetail(id)
		{
			$.ajax({
				method: "POST",
				url: '@Url.Action("RDCDetail","Home")',
				data: { id: id },
				success: function (result) {
					$("#serverHostdetail").html(result.serverHost);
					$("#serverTypedetail").html(result.serverType);
					$("#serverNamedetail").html(result.serverName);
					$("#serverIpAddressdetail").html(result.serverIpAddress);
					$("#serverPassworddetail").html(result.serverPassword);
					$("#serverDescriptiondetail").html(result.serverDescription);
					if(result.serverUsername.includes("adserver")) {
						$("#isAdServerdetail").html("true")
					}
					else
					{
						$("#isAdServerdetail").html("false")
					}
					result.serverUsername = result.serverUsername.replace("adserver\\", "");
					result.serverUsername = result.serverUsername.replace("adserver//", "");
					$("#serverUsernamedetail").html(result.serverUsername);

				}
			})
			}

		function ServerEdit(id) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("RDCDetail","Home")',
				data: { id: id },
				success: function (result) {
					$("#Create").click();

					$("#serverId").val(result.id);
					$("#serverHost").val(result.serverHost);
					$("#serverType").val(result.serverType);
					$("#serverName").val(result.serverName);
					$("#serverIpAddress").val(result.serverIpAddress);

					$("#serverPassword").val(result.serverPassword);
					$("#serverDescription").val(result.serverDescription);

					if (result.serverUsername.includes("adserver")) {
						$("#isadserver").click()
					}
					result.serverUsername = result.serverUsername.replace("adserver\\", "");
					$("#serverUsername").val(result.serverUsername);

				}
			})
		}

		function Delete(ipaddress) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("DeleteRdc","Home")',
				data: { id: ipaddress },
				success: function (result) {
					//location.reload();
				}
			})
		}

		$(document).ready(function () {
			$("#myInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
</script>
}
