@model IEnumerable<RemoteDesktopApplication.Servermanager>

@{
    ViewData["Title"] = "Home Page";
}

<style>

	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		line-height: 1.42em;
		color: #A7A1AE;
	}

	.con th h1 {
		font-weight: bold;
		font-size: 1em;
		text-align: left;
		color: #185875;
	}

	.con td {
		font-weight: normal;
		font-size: 1em;
		-webkit-box-shadow: 0 2px 2px -2px #0E1119;
		-moz-box-shadow: 0 2px 2px -2px #0E1119;
		box-shadow: 0 2px 2px -2px #0E1119;
	}

	.con {
		text-align: left;
		overflow: hidden;
		width: 98%;
		margin: 0 auto;
		display: table;
		padding: 0 0 8em 0;
	}

		.con td, .con th {
			padding-bottom: 2%;
			padding-top: 2%;
			padding-left: 2%;
			width: 10px
		}

		/* Background-color of the odd rows */
		.con tr:nth-child(odd) {
			background-color: #323C50;
		}

		/* Background-color of the even rows */
		.con tr:nth-child(even) {
			background-color: #2C3446;
		}

		.con th {
			background-color: #1F2739;
		}

		.con td:first-child {
			color: #FB667A;
		}

		.con tr:hover {
			background-color: #464A52;
			-webkit-box-shadow: 0 6px 6px -6px #0E1119;
			-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
		}

		.con td:hover {
			background-color: #FFF842;
			color: #403E10;
			font-weight: bold;
			box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
			transform: translate3d(6px, -6px, 0);
			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}
</style>
<body>


	<div class="row mt-5">
		<div class="col-1"></div>
		<div class="col-3">
			<button class="btn btn-success" data-toggle="modal" data-target="#modal-lg">Create</button>
		</div>
		<div class="col-4"></div>
		<div class="form-group col-3 ml-3">
			<input id="myInput" type="text" class="form-control" placeholder="Search..">
		</div>
		<div class="col-1"></div>
		<!-- insert another div here -->
	</div>

		<table class="con">
			<thead>
				<tr>
					<th>Server Name</th>
					<th>Server Host</th>
					<th>Server Type</th>
					<th>IpAddress</th>
					<th>Action</th>
				</tr>
			</thead>
		<tbody id="myTable">
				@foreach (var items in Model)
				{
					<tr>
						<td>@items.ServerName</td>
						<td>@items.ServerHost</td>
						<td>@items.ServerType</td>
						<td>@items.ServerIpAddress</td>
					<td><button type="button" class="btn btn-primary btn-sm" onclick="ServerConnect('@items.Id')">
							<i class="fas fa-wifi"></i>
					</button>
						<button type="button" class="btn btn-danger btn-sm" onclick="Delete('@items.Id')">
							<i class="fas fa-trash-alt"></i>
						</button>
						</td>
					</tr>
				}
			</tbody>
		</table>

	<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Large Modal</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class ="row">
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Server Name</label>
								<input type="text" class="form-control" id="serverName">
							</div>
						</div>
						<div class="col-4">
							<label for="exampleInputEmail1">Server Host</label>
							<select id="serverHost" class=" form-control select2 select2-hidden-accessible">
								<option value="LIVE">LIVE</option>
								<option value="UAT">UAT</option>
							</select>

						</div>

						<div class="col-4">
								<label for="exampleInputEmail1">Server Type</label>
							<select id="serverType" class=" form-control select2 select2-hidden-accessible">
								<option value="Both">Both</option>
									<option value="Database">Database</option>
									<option value="File">File</option>
								</select>

						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">IpAddress</label>
								<input type="text" class="form-control" id="serverIpAddress">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Username</label>
								<input type="text" class="form-control" id="serverUsername">
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Pasword</label>
								<input type="text" class="form-control" id="serverPassword">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Description</label>
								<textarea class="form-control" id="serverDescription"></textarea>
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label>IsAdserver</label>
								<input type="checkbox" class="form-control" id="isadserver" />
							</div>
						</div>

					</div>

				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="SaveServer" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>



</body>
@section scripts {

<script>



	$("#SaveServer").on("click",function()
	{
			let isadserver = $("#isadserver").val();
			if(isadserver == "on")
			{
				isadserver=true;
			}
		let jsondata = {
			ServerName: $("#serverName").val(),
			ServerType: $("#serverType").val(),
			ServerIpAddress: $("#serverIpAddress").val(),
			ServerUsername: $("#serverUsername").val(),
			ServerPassword: $("#serverPassword").val(),
			ServerDescription: $("#serverDescription").val(),
				IsAdServer: isadserver,
				ServerHost: $("#serverHost").val()
		};
		console.log(JSON.stringify(jsondata))
		$.ajax({
			method: "POST",
			url: '@Url.Action("AddServer","Home")',
			data: jsondata,
			success: function (result) {
				location.reload();
			}
		})
	})

	function ServerConnect(ipaddress)
	{
			$.ajax({
				method: "POST",
				url: '@Url.Action("ConnectRdc","Home")',
				data:{id: ipaddress},
				success: function (result) {
					location.reload();
				}
			})
	}

		function Delete(ipaddress) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("DeleteRdc","Home")',
				data: { id: ipaddress },
				success: function (result) {
					//location.reload();
				}
			})
		}

		$(document).ready(function () {
			$("#myInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
</script>
}
