@model IEnumerable<RemoteDesktopApplication.SiteManager>

@{
	ViewData["Title"] = "Site Manager";
}

<style>
	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		line-height: 1em;
		color: #A7A1AE;
	}

	.con th h1 {
		font-weight: bold;
		font-size: 1em;
		text-align: left;
		color: #185875;
	}

	.con td {
		font-weight: normal;
		font-size: 1em;
		-webkit-box-shadow: 0 2px 2px -2px #0E1119;
		-moz-box-shadow: 0 2px 2px -2px #0E1119;
		box-shadow: 0 2px 2px -2px #0E1119;
	}

	.con {
		text-align: left;
		overflow: hidden;
		width: 98%;
		margin: 0 auto;
		display: table;
		padding: 0 0 8em 0;
	}

		.con td, .con th {
			padding-bottom: 1%;
			padding-top: 1%;
			padding-left: 2%;
		}

		/* Background-color of the odd rows */
		.con tr:nth-child(odd) {
			background-color: #323C50;
		}

		/* Background-color of the even rows */
		.con tr:nth-child(even) {
			background-color: #2C3446;
		}

		.con th {
			background-color: #1F2739;
		}

		.con td:first-child {
			color: #FB667A;
		}

		.con tr:hover {
			background-color: #464A52;
			-webkit-box-shadow: 0 6px 6px -6px #0E1119;
			-moz-box-shadow: 0 6px 6px -6px #0E1119;
			box-shadow: 0 6px 6px -6px #0E1119;
		}

		.con td:hover {
			background-color: #FFF842;
			color: #403E10;
			font-weight: bold;
			box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
			transform: translate3d(6px, -6px, 0);
			transition-delay: 0s;
			transition-duration: 0.4s;
			transition-property: all;
			transition-timing-function: line;
		}

</style>
<body>
	<div class="row mt-5">
		<div class="col-1"></div>
		<div class="col-3">
			<button class="btn btn-success" id="Create" data-toggle="modal" data-target="#modal-lg">Create</button>
		</div>
		<div class="col-4"></div>
		<div class="form-group col-3 ml-3">
			<input id="myInput" type="text" class="form-control" placeholder="Search..">
		</div>
		<div class="col-1"></div>
	</div>

	<table class="con">
		<thead>
			<tr>
				<th>Site Name</th>
				<th>Site Root</th>
				<th>Type</th>
				<th>Site Link</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="myTable">
			@foreach (var items in Model)
			{
				<tr>
					<td>@items.SiteName</td>
					<td>@items.SiteRoot</td>
					<td>@items.SiteType</td>
					<td>@items.SiteLink</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm" onclick="SiteConnect(`{@items.Id}`)">
							<i class="fas fa-wifi"></i>
							</button>
						<button type="button" class="btn btn-info btn-sm" onclick="ClearSesssion(`{@items.Id}`)">
							<i class="fas fa-window-restore"></i>
						</button>
						<button type="button" class="btn btn-secondary btn-sm" onclick="SiteEdit('@items.Id')">
							<i class="fas fa-edit"></i>
						</button>
						<button type="button" class="btn btn-danger btn-sm" onclick="SiteDelete(`{@items.Id}`)">
							<i class="fas fa-trash-alt"></i>
						</button>

					</td>
				</tr>
			}
		</tbody>
	</table>




	<div class="modal fade" id="modal-lg" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Site Create</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<form id="siteform">
					<input type="hidden" class="form-control" id="siteid">
				<div class="modal-body">
					<div class="row">
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Site Name</label>
								<input type="text" class="form-control" id="siteName">
							</div>
						</div>
						<div class="col-4">
							<label for="exampleInputEmail1">Site Type</label>
							<select id="siteType" class=" form-control select2 select2-hidden-accessible">
								<option value="LIVE">LIVE</option>
								<option value="UAT">UAT</option>
							</select>

						</div>

						<div class="col-4">
							<label for="exampleInputEmail1">Site Root</label>
							<select id="siteRoot" class=" form-control select2 select2-hidden-accessible">
								<option value="Admin">Admin</option>
								<option value="Agent">Agent</option>
							</select>

						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Site Link</label>
								<input type="text" class="form-control" id="siteLink">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">UserName</label>
								<input type="text" class="form-control" id="userName">
							</div>
						</div>

						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Pasword</label>
								<input type="text" class="form-control" id="password">
							</div>
						</div>
						<div class="col-4">
							<div class="form-group">
								<label for="exampleInputEmail1">AccessCode</label>
								<textarea class="form-control" id="accessCode"></textarea>
							</div>
						</div>



					</div>

				</div>
				</form>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="SaveSite" type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>



</body>
@section scripts {

	<script>
		$("#SaveSite").on("click", function () {
			let jsondata = {
				Id: $("#siteid").val(),
				SiteName: $("#siteName").val(),
				SiteLink: $("#siteLink").val(),
				SiteRoot: $("#siteRoot").val(),
				SiteType: $("#siteType").val(),
				UserName: $("#userName").val(),
				Password: $("#password").val(),
				AccessCode: $("#accessCode").val()
			};
			console.log(JSON.stringify(jsondata))
			$.ajax({
				method: "POST",
				url: '@Url.Action("AddSite","Home")',
				data: jsondata,
				success: function (result) {
					location.reload();
				}
			})
		})

		$("#Create").on("click", function () {
			$("#siteform").trigger("reset");
		})


		function SiteEdit(id) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("SiteDetail","Home")',
				data: { id: id },
				success: function (result) {
					$("#Create").click();
					$("#siteid").val(result.id);
					$("#siteName").val(result.siteName);
					$("#siteLink").val(result.siteLink);
					$("#siteRoot").val(result.siteRoot);
					$("#siteType").val(result.siteType);
					$("#userName").val(result.userName);
					$("#password").val(result.password);
					$("#accessCode").val(result.accessCode);

				}
			})
		}


		function SiteDelete(id){
			$.ajax({
				method: "POST",
				url: '@Url.Action("DeleteSite","Home")',
				data: { id: id },
				success: function (result) {
					location.reload();
				}
			})
		}

		function SiteConnect(guidid) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("Connect","Home")',
				data: { id: guidid },
				success: function (result) {
					location.reload();
				}
			})
		}

		function ClearSesssion(ipaddress) {
			$.ajax({
				method: "POST",
				url: '@Url.Action("ClearSesssion","Home")',
				data: { id: ipaddress },
				success: function (result) {
					location.reload();
				}
			})
		}

		$(document).ready(function () {
			$("#myInput").on("keyup", function () {
				var value = $(this).val().toLowerCase();
				$("#myTable tr").filter(function () {
					$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
	</script>
}
